p,li {
    text-align: justify;
}
img {
    width: 95%;
    height: 300px;
    object-fit: cover;
}
.location {
    width: 95%;
}
.flex {
    display: flex;
}
.flex-col {
flex-direction: column;
}
.min-h-screen {
min-height: 100vh;
}
.flex-grow {
flex-grow: 1;
display: flex;
justify-content: center;
align-items: center;
}
.w-full {
    width: 100%;
}
.bg-black {
background-color: #000000;
}
.flex {
display: flex;
}
.items-center {
align-items: center;
}
.justify-center {
justify-content: center;
}
.container {
margin-right: auto;
margin-left: auto;
}
.flex-col {
flex-direction: column;
}
.mb-3 {
margin-bottom: 0.75rem;
}
.text-center {
text-align: center;
}
.text-3xl {
font-size: 1.875rem;
}
.font-bold {
font-weight: 700;
}
.mx-2{
    margin: 0px 1.2rem;
}
.mb-3{
    margin-bottom: 1.5rem;
}